extends ./model.jade

block tcrudEditTable
    table.tcrudEditTable: tbody
        each columnConfig in modelConfig.columns
            if(columnConfig.name == 'columns')
                tr
                    th= columnConfig.labelName
                    td
                        div
                            div(ng-repeat="elem in curRecord.columns")
                                span
                                    | {{ elem.labelName }}
                                    button(ng-click="openAddColumnDialog(elem.name)") Edit
                                    button(ng-click="modelMetaRemoveColumn(elem.name)") Delete
                            input(type="button" ng-click="openAddColumnDialog()" value="Add")
            else
                +generateInputForColumn(modelConfig, columnConfig, 'curRecord')

block append footer
    //- todo:http://angular-ui.github.io/bootstrap/#/modal
    div
        script(type="text/ng-template" id="tcrudAddColumnDialog.html")
            div.modal-header
                h3.modal-title Add Column
            div.modal-body
                table.tcrudEditTable: tbody
                    tr
                        th Name
                        td: input(type="text" ng-model="curColumn.name")
                    tr
                        th LableName
                        td: input(type="text" ng-model="curColumn.labelName")
                    tr
                        th Display Control
                        td
                            label
                                input(type="checkbox" ng-model="curColumn.display.C")
                                | Enable Create/Edit
                            br
                            label
                                input(type="checkbox" ng-model="curColumn.display.R")
                                | Enable Search
                            br
                            label
                                input(type="checkbox" ng-model="curColumn.display.L")
                                | Show In Result List
                    tr
                        th Type
                        td: select(ng-model="curColumn.type")
                            option(value="text") text
                            option(value="textarea") textarea
                            option(value="password") password
                            option(value="radio") radio
                            option(value="checkbox") checkbox
                            option(value="select") select
                    tr(ng-show="curColumn.type == 'radio' || curColumn.type == 'checkbox' || curColumn.type == 'select'")
                        th DataSource Type
                        td
                            label
                                input(type="radio" ng-model="curColumn.dataSourceType" value="manually")
                                | Manually Input
                            label
                                input(type="radio" ng-model="curColumn.dataSourceType" value="systemModel")
                                | Existing Model
                            label
                                input(type="radio" ng-model="curColumn.dataSourceType" value="systemDataSource")
                                | Existing DataSource
                    tr(ng-show="curColumn.dataSourceType")
                        th DataSource
                        td
                            div
                                div(ng-show="curColumn.dataSourceType == 'manually'")
                                    label Data List
                                    div(style="max-height: 100px; overflow:scroll;")
                                        li(ng-repeat="elem in curColumn.dataSource") {{elem.labelName}}, {{elem.value}}
                                            button(ng-click="deleteDataSource(elem.value)") Delete
                                            button(ng-click="initEditDataSource(elem.value)") Edit

                                    label Name
                                        input(type="text" style="width:150px" ng-model="dataSourceLabelName")
                                    label Value
                                        input(type="text" style="width:150px" ng-model="dataSourceValue")

                                    button(ng-click="createDataSource()") Create


                                div(ng-show="curColumn.dataSourceType == 'systemModel'")
                                    label Select Model(Not Ready)
                                    br
                                    select

                                div(ng-show="curColumn.dataSourceType == 'systemDataSource'")
                                    label Select DataSource(Not Ready)
                                    br
                                    select

                                div(ng-show="curColumn.dataSourceType != 'manually'")
                                    label DataSource Column Name for name
                                        input(type="text")
                                    label DataSource Column Name for value
                                        input(type="text")

            div.modal-footer
                button(ng-click="save()") Save
                button(ng-click="exit()") Exit
                button(ng-click="debug()") Debug


